on: [push]

jobs:
  Testing-stuffings:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/saraidery/fortran-tensor-library-docker-action:main
    steps:
      - uses: actions/checkout@v2
      - run: mkdir build
      - run: cd build
      - run: pwd
